<section id="summary" class="section flex-row justify-center">
  <mat-card class="container w-100 flex-col">
    <mat-card-header class="justify-center">
      <mat-card-title>Summary</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="features">
        <mat-list>
          <mat-list-item>
            <mat-icon>stars</mat-icon>
            Highly focused frontend software developer with
            strong desire to successfully take part in ambitious projects.
          </mat-list-item>
          <mat-list-item>
            <mat-icon>stars</mat-icon>
            Self-organized and self-motivated, responsible committer, reliable
            team player.
          </mat-list-item>
          <mat-list-item>
            <mat-icon>stars</mat-icon>
            Effective in communication, highly social, adaptable to any kind of
            circumstances.
          </mat-list-item>
          <mat-list-item>
            <mat-icon>stars</mat-icon>
            Effectively working in a team and standalone.
          </mat-list-item>
          <mat-list-item>
            <mat-icon>stars</mat-icon>
            Inquisitive and fast learner, always trying to keep knowledge and
            skills up-to-date.
          </mat-list-item>
        </mat-list>
      </div>

      <div class="navigation flex-col justify-center align-center">
        <mat-nav-list>
          <mat-list-item>
            <a href="#skills">Skills</a>
          </mat-list-item>
          <mat-list-item>
            <a href="#experience">Experience</a>
          </mat-list-item>
          <mat-list-item>
            <a href="#education">Education</a>
          </mat-list-item>
          <mat-list-item>
            <a href="$contacts">Contacts</a>
          </mat-list-item>
        </mat-nav-list>
      </div>
    </mat-card-content>
  </mat-card>
</section>
