$features-basis: 75%;

#summary {
  background-color: #f1efda;
}

.container {
  .mat-card-content {
    display: flex;
  }

  .mat-list-item:hover {
    background-color: #e0dede;
  }

  .features {
    flex: 0 1 $features-basis;
    padding-right: 25px;
  }

  .navigation {
    flex: 0 1 100%-$features-basis;
    border-left: 1px solid grey;

    .mat-list-item {
      font-weight: bold;
      margin-bottom: 20px;
    }
  }
}



