<section id="contacts" class="section flex-row justify-center">
  <mat-card class="container w-100">
    <mat-card-header class="justify-center">
      <mat-card-title>Contacts</mat-card-title>
    </mat-card-header>

    <mat-card-content class="text-center">
      <p class="text">Feel free to contact me:</p>
      <mat-list>
        <mat-list-item>
          <span class="email mx-auto">novikmaxim1987@gmail.com</span>
        </mat-list-item>
        <mat-list-item>
          <a href="https://www.facebook.com/max.novik.7"
             class="facebook mx-auto"
             target="_blank"
          >
            Facebook
          </a>
        </mat-list-item>
        <mat-list-item>
          <a href="https://www.linkedin.com/in/maksym-novik-1727b33a"
             class="linkedin mx-auto"
             target="_blank"
          >
            LinkedIn
          </a>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</section>
