$hover-opacity: 0.8;

#contacts {
  background: url('../../../assets/contacts-bg.jpg') #000 center/cover no-repeat;
}

.container {
  max-width: 600px;

  .mat-card-content {
    font-size: inherit;

    .mat-list.mat-list-base .mat-list-item {
      margin-bottom: 12px;
    }

    .text {
      font-size: 1.5rem;
      margin-bottom: 15px;
    }

    .email {
      color: #3c0101;
      cursor: pointer;
      text-decoration: underline;

      &:hover {
        opacity: $hover-opacity;
      }
    }

    .facebook {
      color: darkblue;

      &:hover {
        opacity: $hover-opacity;
      }
    }

    .linkedin {
      color: #0073b1;

      &:hover {
        opacity: $hover-opacity;
      }
    }
  }
}
