#hero {
  background: url('../../../assets/hero-bg.png') #000 center/cover no-repeat;
  height: 100vh;
}

.container {
  .title {
    color: #fff;
    font-size: 7rem;
  }

  .subtitle {
    color: #fff;
    font-size: 4rem;
  }

  hr {
    background: #fff;
    height: 2px;
    margin: 40px 0;
  }
}
