<section id="hero" class="flex-col justify-center align-center">
  <div class="container text-center flex-col align-center">
    <h1 class="title">Maksym Novik</h1>
    <hr class="w-100">
    <h2 class="subtitle">Frontend Software Developer</h2>
  </div>
</section>
