$date-basis: 30%;

#education {
  background: url('../../../assets/education-bg.jpg') #fff center/cover no-repeat;
}

.container {
  .mat-list.mat-list-base .mat-list-item {
    margin-bottom: 25px;
  }

  .mat-list.certificates-list.mat-list-base .mat-list-item {
    margin-bottom: 15px;
  }

  .date {
    flex: 0 1 $date-basis;

    span {
      font-size: 1.25rem;
    }
  }

  .institution {
    flex: 0 1 100%-$date-basis;
  }

  .mat-card-subtitle {
    color: inherit;
    font-size: 1.7rem;
    margin-top: 10px;
  }
}
