<section id="education" class="section flex-row justify-center">
  <mat-card class="container w-100">
    <mat-card-header class="justify-center">
      <mat-card-title>Education</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <div class="list-item-content w-100 flex-row">
            <div class="date flex-row justify-center align-center">
              <span>Sep 2020 - till now</span>
            </div>
            <div class="institution flex-row align-center">
              <span class="text-bold">
                EPAM Systems - Frontend Pre-Production Lab.
              </span>
            </div>
          </div>
        </mat-list-item>

        <mat-list-item>
          <div class="list-item-content w-100 flex-row">
            <div class="date flex-row justify-center align-center">
              <span>Apr 2020 - Aug 2020</span>
            </div>
            <div class="institution flex-row align-center">
              <span class="text-bold">
                EPAM Systems - "Frontend Online" course.
              </span>
            </div>
          </div>
        </mat-list-item>

        <mat-list-item>
          <div class="list-item-content w-100 flex-row">
            <div class="date flex-row justify-center align-center">
              <span>Oct 2018 - May 2019</span>
            </div>
            <div class="institution flex-row align-center">
              <span class="text-bold">
                Easy Code IT School - "Frontend + Angular" course.
              </span>
            </div>
          </div>
        </mat-list-item>

        <mat-list-item>
          <div class="list-item-content w-100 flex-row">
            <div class="date flex-row justify-center align-center">
              <span>Jan 2016 - Jun 2018</span>
            </div>
            <div class="institution flex-row align-center">
              <span class="text-bold">
                Code Academy, HTML Academy, Udemy, Codewars, Hackerrank.
              </span>
            </div>
          </div>
        </mat-list-item>

        <mat-list-item>
          <div class="list-item-content w-100 flex-row">
            <div class="date flex-row justify-center align-center">
              <span>Sep 2004 - Jun 2010</span>
            </div>
            <div class="institution flex-row align-center">
              <span class="text-bold">
                Thermal engineering faculty of the
                National Technical University of Ukraine
                "Igor Sikorsky Kyiv Polytechnic Institute".
              </span>
            </div>
          </div>
        </mat-list-item>
      </mat-list>

      <mat-card-header class="justify-center">
        <mat-card-subtitle class="text-bold">
          Diplomas and certificates
        </mat-card-subtitle>
      </mat-card-header>
      <mat-list class="certificates-list w-80 mx-auto">
        <mat-list-item>
          <mat-icon>school</mat-icon>
          Easy Code IT School certificate of completion of the course
          "Frontend + Angular" course
        </mat-list-item>
        <mat-list-item>
          <mat-icon>school</mat-icon>
          Thermal engineering master's degree diploma
        </mat-list-item>
        <mat-list-item>
          <mat-icon>school</mat-icon>
          Thermal engineering bachelor's degree diploma
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</section>
