<section id="skills" class="section flex-row justify-center">
  <mat-card class="container w-100">
    <mat-card-header class="justify-center">
      <mat-card-title>Skills</mat-card-title>
    </mat-card-header>
    <mat-card-content class="text-center">
      <mat-list class="w-80 mx-auto">
        <mat-list-item>
          <div class="list-item-content w-100 flex-row">
            <span class="technology">HTML</span>
            <span class="level">Advanced</span>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div class="list-item-content w-100 flex-row">
            <span class="technology">CSS</span>
            <span class="level">Advanced</span>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div class="list-item-content w-100 flex-row">
            <span class="technology">Javascript</span>
            <span class="level">Advanced</span>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div class="list-item-content w-100 flex-row">
            <span class="technology">Typescript</span>
            <span class="level">Beginner</span>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div class="list-item-content w-100 flex-row">
            <span class="technology">React</span>
            <span class="level">Beginner</span>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div class="list-item-content w-100 flex-row">
            <span class="technology">Angular</span>
            <span class="level">Beginner</span>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div class="list-item-content w-100 flex-row">
            <span class="technology">NodeJS</span>
            <span class="level">Beginner</span>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div class="list-item-content w-100 flex-row">
            <span class="technology">Git</span>
            <span class="level">Advanced</span>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</section>
