$technology-basis: 50%;

#skills {
  background: url('../../../assets/skills-bg.jpg') #fff center/cover no-repeat;
}

.container {
  .mat-list-item {
    font-weight: bold;
  }

  .list-item-content:hover {
    background-color: #e0dede;

    .level {
      background-color: unset;
    }
  }

  .technology {
    flex: 0 1 $technology-basis;
  }

  .level {
    background-color: #eae9e9;
    flex: 0 1 100%-$technology-basis;
  }
}
