@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  box-sizing: border-box;
  color: #051120;
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
}

html, body {
  height: 100%;
}

.container {
  max-width: 1000px;
}

.w-100 {
  width: 100%;
}

.w-80 {
  width: 80%;
}

.w-50 {
  width: 50%;
}

.mx-auto {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.text-underline {
  text-decoration: underline;
}

.section {
  padding: 40px;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.align-center {
  align-items: center;
}

.mat-card-header .mat-card-header-text .mat-card-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 22px;
  text-transform: capitalize;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow:
    3px 3px 5px 3px rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

mat-card.mat-card {
  background-color: ghostwhite;
  box-shadow: 1px 1px grey;
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
  opacity: 0.95;
  padding: 30px;
}

.mat-list.mat-list-base .mat-list-item {
  height: 100%;
  margin-bottom: 15px;
}

.mat-list-item .mat-list-item-content {
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
  line-height: 1.4;
}

.mat-icon {
  margin-right: 18px;
}
