$duties-basis: 70%;

#experience {
  background: url('../../../assets/experience-bg.jpg') #000 center/cover no-repeat;
}

.container {
  .list-item-container {
    margin: 10px 0 20px;
  }

  .list-item-content:not(:last-child) {
    margin-bottom: 15px;
  }

  .list-item-header {
    margin-bottom: 15px;
  }

  .company {
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: underline;
  }

  .info {
    flex: 0 1 100%-$duties-basis;

    .position {
      font-weight: bold;
      text-align: center;
      text-transform: capitalize;
    }

    .date {
      font-size: 1rem;
    }
  }

  .duties {
    flex: 0 1 $duties-basis;
  }
}


