<section id="experience" class="section flex-row justify-center">
  <mat-card class="container w-100">
    <mat-card-header class="justify-center">
      <mat-card-title>Experience</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>

    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <div class="list-item-container w-100 flex-col">
            <div class="list-item-header flex-row justify-center">
              <span class="company text-center">EPAM Systems</span>
            </div>
            <div class="list-item-content flex-row">
              <div class="info flex-col align-center">
                <span class="position text-bold">Trainee</span>
                <span class="date">Sep 2020 - till now</span>
              </div>
              <div class="duties flex-col justify-center">
                <span>
                  Taking part in company inner projects, studying, doing
                  homeworks.
                </span>
              </div>
            </div>
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>

        <mat-list-item>
          <div class="list-item-container w-100 flex-col">
            <div class="list-item-header flex-row justify-center">
              <span class="company text-center">
                NIK LLC
              </span>
            </div>
            <div class="list-item-content flex-row">
              <div class="info flex-col align-center">
                <span class="position">Sales Manager</span>
                <span class="date">Sep 2018 - till now</span>
              </div>
              <div class="duties flex-col justify-center">
                <span>
                  Selling electricity meters and automated systems for commercial
                  metering of electricity.
                </span>
              </div>
            </div>
            <div class="list-item-content flex-row">
              <div class="info flex-col align-center">
                <span class="position">Project Manager</span>
                <span class="date">Jan 2017 - Aug 2018</span>
              </div>
              <div class="duties flex-col justify-center">
                <span>
                  Selling heat and water meters, control of development of
                  projects of heat metering units and their installation.
                </span>
              </div>
            </div>
            <div class="list-item-content flex-row">
              <div class="info flex-col align-center">
                <span class="position">
                  Head of Design Department
                </span>
                <span class="date">Apr 2015 - Dec 2016</span>
              </div>
              <div class="duties flex-col justify-center">
                <span>
                  Development and coordination with authorities of projects
                  of heat metering units.
                </span>
              </div>
            </div>
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>

        <mat-list-item>
          <div class="list-item-container w-100 flex-col">
            <div class="list-item-header flex-row justify-center">
              <span class="company text-center">Teploenergo Corporation</span>
            </div>
            <div class="list-item-content flex-row">
              <div class="info flex-col align-center">
                <span class="position">
                  Head of Design Department
                </span>
                <span class="date">Jun 2010 - Apr 2015</span>
              </div>
              <div class="duties flex-col justify-center">
                <span>
                  Development and coordination with authorities of projects
                  of individual heat points.
                </span>
              </div>
            </div>
            <div class="list-item-content flex-row">
              <div class="info flex-col align-center">
                <span class="position">Project Engineer</span>
                <span class="date">Jun 2008 - Jun 2010</span>
              </div>
              <div class="duties flex-col justify-center">
                <span>
                  Providing calculations of heat exchangers, individual
                  heating substations and additional heating equipment.
                </span>
              </div>
            </div>
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</section>
